:root {
    --cor-principal: #5cace1;
    --cor-secundaria: #fff;
    --cor-titulos: #3194fe;
    --cor-destaque-titulos: #f41f1f;
}
body {
    font-family: "Galdeano", sans-serif;
}

.navbar {
    background-color: var(--cor-secundaria);
}

#cabecalho .nav .nav-link.active {
    background-color: #bcddf3;
    color: var(--cor-titulos);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-categoria .nav-link.active:hover {
    color: var(--cor-titulos);
}

.navbar-toggler {
    background-color: var(--cor-principal);
}

.section-title {
    font-family: "Galdeano", sans-serif;
}

#sobre-o-super, #categoria, #fale-conosco {
    background-color: #5cace1;
}

.carousel-item {
    height: 500px; /* Ajuste a altura conforme necessário */
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text-colored {
    color: var(--cor-destaque-titulos);
}

.nav-categoria .nav-link.active,
#fale-conosco button {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}

.btn {
    display: block;
    margin-bottom: 10px; /* Ajuste o valor conforme necessário para mais ou menos espaço entre os botões */
}
c

.nav-categoria .nav-link:hover {
    color: var(--cor-destaque-titulos);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

#form-group row {
    display: block;
    width: 100%;
}

form {
    width: 80%;
}

footer {
    background-color: var(--cor-secundaria);
    color: var(--cor-titulos);
    padding: 16px 0;
}


@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}